<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="carcar_mecanum">
  <!--
    坐标遵循 REP-103：X 向车头、Y 向车体左侧、Z 向上，长度单位为 m。
    本文件只负责组装；已确认值和待实测值集中维护在 carcar_dimensions.xacro。
  -->
  <xacro:include filename="carcar_dimensions.xacro"/>
  <xacro:include filename="carcar_materials.xacro"/>
  <xacro:include filename="carcar_chassis.xacro"/>
  <xacro:include filename="carcar_sensors.xacro"/>

  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
  </joint>

  <xacro:carcar_chassis/>
  <xacro:carcar_sensors/>
</robot>
